// Colors of project

// Brand-colors

$brown: #876048;

$yellow-1: #c69f52;
$yellow-2: #efb071;

$salmon: #dd574d;

$red: #911d17;

$blue: #6797bb;

$white: #ffffff;

// Gray Scale
$gray-1: #010307;
$gray-2: #272932;
$gray-3: #383844;
$gray-4: #4d4e59;
$gray-5: #6c717e;
$gray-6: #888fa1;
$gray-7: #aeb8cd;

.c-red {
  color: $red;
}

.c-gray-3 {
  color: $gray-3;
}
.c-gray-5 {
  color: $gray-5;
}

.c-white {
  color: #ffffff;
}

.c-yellow-1 {
  color: $yellow-1;
}

.c-salmon {
  color: $salmon;
}
